@charset "UTF-8";

html,
body {
    background-color: #222;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    padding: 40px;
    border-radius: 12px;
    background-color: #333;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

::placeholder {
    color: #ccc;
}

.mb-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

input[type="text"],
select {
    width: 97%;
    padding: 12px;
    border: 1px solid #444;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #333;
    color: white;
    font-family: 'Lato', sans-serif;
}

input[type="text"]:focus,
select:focus {
    border-color: #555;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
    transition: background-color 0.3s ease;
    font-family: 'Lato', sans-serif;
}

button:hover {
    background-color: #4cae4c;
}

.stock-info,
.price-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 25px;
    padding: 25px;
    border-radius: 12px;
    background-color: #333;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    margin-bottom: 5px;
    font-family: 'Lato', sans-serif;
}

.stock-info:hover,
.price-info:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

#themeBtn {
    position: fixed;
    top: 0;
    right: 25px;
    display: inline-block;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #333;
    border-radius: 25px;
    font-family: 'Lato', sans-serif;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.chart {
    display: block;
    width: 100%;
    height: 400px;
    margin: 10px 0;
}

.ocultar{
    display: none;
}


h2{
    text-align: center;
    border: 2px solid #fff;
    padding: 25px;
    border-radius: 50px;
}

span {
    font-weight: bold;
    color: rgb(52, 214, 52);
}

.loading-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media (max-width: 767px) {
    html,
    body {
        display: flex;
        justify-content: flex-start; /* Garante que o conteúdo comece do topo */
        align-items: center;
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto; /* Ativar rolagem se necessário */
    }

    form {
        width: 100%; /* Garantir 100% da largura */
        max-width: 100%;
        margin-top: 20px; /* Reduzindo a margem superior */
        margin-bottom: 5px;
        padding: 20px;
        background-color: #333;
        box-sizing: border-box;
    }

    .stock-info,
    .price-info {
        margin: 0;
        padding: 15px;
        width: 100%;
        box-sizing: border-box;
        background-color: #333;
        border-radius: 5px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        font-family: 'Lato', sans-serif;
    }

    .chart-container {
        width: 100%;
        overflow-x: auto;
        display: block;
    }

    .chart {
        width: 1200px;
        height: auto;
        margin: 20px 0;
    }

    
    h2{
        text-align: center;
        border: 2px solid #fff;
        padding: 25px;
        border-radius: 50px;
    }
}


